body {
  text-align: center;
  justify-content: center;
}

html {
  --s: 100px;
  --c1: #f8b195;
  --c2: #355c7d;
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 400px;
}

ul {
  list-style: none;
}

.navbar {
  justify-content: center;
}

#navbarBtn {
  border: 0;
  background: #343050;
  padding: 0.3rem;
  color: white;
  flex-grow: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

#navbarBtn:hover {
  background: #161d2c;
}

.form {
  max-width: 15rem;
  margin: 4rem auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

.form h3 {
  margin: 6px;
}

.form label {
  display: block;
  padding: 0.2rem;
  margin: 0 auto;
}

.form input {
  display: block;
  margin: 0 auto;
}

#submitBtn,
#signupBtn {
  border: 0;
  background: #343050;
  padding: 0.3rem;
  color: white;
  flex-grow: 0;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  align-items: flex-start;
  text-transform: uppercase;
  cursor: pointer;
}

#submitBtn:hover,
#signupBtn:hover {
  background: #161d2c;
}

a {
  text-decoration: none;
  color: black;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  flex: 1 0;
  max-width: 30rem;
  margin: 0.5rem auto;
  background: whitesmoke;
  border-radius: 4px;
  padding: 5px;
}

.restaurant-card:hover {
  transform: scale(1.02);
}

.restaurant-card h3 {
  margin: auto;
  padding-bottom: 6px;
}

.restaurant-card img {
  width: 25rem;
}

.restaurant-card p {
  width: 30rem;
  margin: auto;
  padding-top: 6;
}

#ind_rest {
  flex: 1 0;
  max-width: 30rem;
  margin: 0.5rem auto;
  background: whitesmoke;
  border-radius: 4px;
  padding: 5px;
}
