body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 400px;
}

ul {
  list-style: none;
}

.navbar {
  justify-content: center;
}

#navbarBtn {
  border: 0;
  background: #6600cc;
  padding: 0.3rem;
  color: black;
  flex-grow: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

#navbarBtn:hover {
  background: #7800dc;
}

.form {
  max-width: 15rem;
  margin: 4rem auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.form h3 {
  margin: 6px;
}

.form label {
  display: block;
  padding: 0.2rem;
  margin: 0 auto;
}

.form input {
  display: block;
  margin: 0 auto;
}

#submitBtn,
#signupBtn {
  border: 0;
  background: #6600cc;
  padding: 0.3rem;
  color: black;
  flex-grow: 0;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  align-items: flex-start;
  text-transform: uppercase;
  cursor: pointer;
}

#submitBtn:hover,
#signupBtn:hover {
  background: #7800dc;
}

a {
  text-decoration: none;
  color: black;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.home-page-container {
  position: relative;
}

.home-page-container::before,
.home-page-container::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home-page-container::before {
  left: 0;
}

.home-page-container::after {
  right: 0;
}

.restaurant-card {
  flex: 1 0;
  max-width: 30rem;
  margin: 0.5rem auto;
  background: whitesmoke;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.restaurant-card:hover {
  transform: scale(1.02);
}

.restaurant-card h3 {
  margin: auto;
  padding-bottom: 6px;
}

.restaurant-card img {
  width: 25rem;
}

.restaurant-card p {
  width: 30rem;
  margin: auto;
  padding-top: 6;
}

#ind_rest {
  flex: 1 0;
  max-width: 30rem;
  margin: 0.5rem auto;
  background: whitesmoke;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.users-page-navbar {
  justify-content: center;
}

.users-page-container {
  position: relative;
}

.users-page-container::before,
.users-page-container::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.users-page-container::before {
  left: 0;
}

.users-page-container::after {
  right: 0;
}

#userspageBtn {
  border: 0;
  background: #6600cc;
  padding: 0.3rem;
  color: black;
  flex-grow: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

#userspageBtn:hover {
  background: #7800dc;
}
